@font-face {
    font-family: Clash Display;
    src: url(Fonts/ClashDisplay-Regular.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(Fonts/Satoshi-Regular.otf);
}

@mixin font-header {
    color: #2A254B;
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 400;
}

@mixin font-text {
    color: var(--White, #FFF);
    font-family: Satoshi;
    font-size: 14px;
    font-weight: 400;
}


* {
    padding: 0;
    margin: 0;
}

.header {
    width: 95%;
    border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    &__search {
        vertical-align: -30%;
    }

    &__logo {
        color: #22202E;
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
    }

    &__cart {
        margin-left: -40%;
        text-decoration: none;
        vertical-align: -30%;
    }

    &__user {
        margin-left: 40%;
        vertical-align: -30%;
    }

    &__mobile {
        display: none;
    }
}

.nav {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

    &__link {
        text-decoration: none;
        border: none;
        color: #726E8D;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
    }
}

.footer {
    background: var(--Dark-Primary, #2A254B);

    &__text {
        @include font-text;
        text-decoration: none;
        color: var(--White, #FFF);

        &_title {
            color: var(--White, #FFF);
            font-family: Clash Display;
            font-size: 16px;
            font-weight: 400;
        }

        &_label {
            display: block;
            font-size: 16px;
            margin-bottom: 2.54%;
        }

        &_bottom {
            color: var(--White, #FFF);
        }


    }

    &__wrapper {
        width: 88.6%;
        margin: auto;
        display: flex;
        gap: 5%;
        padding: 3.5% 0 3% 0;
    }

    &__block {
        width: 13%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__mailing {
        width: 55%;
    }

    &__input {
        border: none;
        outline: none;
        background: rgba(255, 255, 255, 0.15);
        padding-left: 5.4%;
        width: 74.8%;
        height: 56px;

        &::placeholder {
            @include font-text;
            font-size: 16px;
            color: var(--White, #FFF);
        }
    }

    &__button {
        background: var(--White, #FFF);
        cursor: pointer;
        border: none;
        @include font-text;
        color: #2A254B;
        font-size: 16px;
        line-height: 150%;
        width: 18.6%;
        height: 56px;
        margin-left: -0.5%;
        vertical-align: -2px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 88.6%;
        margin: auto;
        padding: 24px 0 25px 0;
        border-top: #4E4D93 1px solid;
    }

    &__icons {
        display: flex;
        gap: 24px;
    }
}


@media (max-width:1040px) {
    .nav {
        width: 70%;
    }


    .footer {

        &__wrapper {
            flex-wrap: wrap;
            gap: 5%;
        }

        &__block {
            width: 47%;
            padding-top: 5%;
        }

        &__mailing {
            padding-top: 5%;
            width: 80%;
        }

        &__input {
            width: 60%;
        }

        &__button {
            width: 20%;
        }


    }
}

@media (max-width:769px) {
    .nav {
        display: none;
    }

    
    .footer {
        &__text {
            &_bottom {
                width: 100%;
                text-align: center;
            }
        }

        &__icons {
            display: none;
        }
    }
}

@media (max-width:481px) {
    .header {
        width: 85%;

        &__icons1 {
            display: flex;
            order: 1;
            align-self: flex-end;
        }

        &__mobile {
            display: block;
            margin-left: 50%;
        }

        &__search {
            margin-left: -50%;
        }

        &__icons2 {
            display: none;
        }
    }

    .nav {
        display: none;
    }



    .footer {
        &__block {
            padding-top: 11.55%;
        }

        &__mailing {
            width: 100%;
            padding-top: 11.55%;
        }

        &__input {
            width: 59.4%;
        }

        &__button {
            width: 34.1%;
        }
    }
}