@font-face {
  font-family: Clash Display;
  src: url(Fonts/FontsFree-Net-ClashDisplay-Variable.ttf);
}
@font-face {
  font-family: Satoshi;
  src: url(Fonts/Satoshi-Regular.otf);
}
* {
  padding: 0;
  margin: 0;
}

.header {
  width: 95%;
  border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
.header__search {
  vertical-align: -30%;
}
.header__logo {
  color: #22202E;
  font-family: Clash Display;
  font-size: 24px;
  font-weight: 400;
}
.header__cart {
  margin-left: -40%;
  text-decoration: none;
  vertical-align: -30%;
}
.header__user {
  margin-left: 40%;
  vertical-align: -30%;
}
.header__mobile {
  display: none;
}

.nav {
  padding-top: 2%;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}
.nav__link {
  text-decoration: none;
  border: none;
  color: #726E8D;
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
}

.brand {
  display: flex;
  width: 88.9%;
  margin: auto;
  margin-top: 5%;
}
.brand__desc {
  width: 54.4%;
  background: var(--Dark-Primary, #2A254B);
  padding: 4.7% 0 0 4.7%;
}
.brand__icon {
  width: 40.65%;
}
.brand__title {
  color: var(--White, #FFF);
  font-family: Clash Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 140%;
  width: 60%;
  margin-bottom: 5.9%;
}
.brand__button {
  width: 170px;
  height: 56px;
  background: rgba(249, 249, 249, 0.15);
  color: var(--White, #FFF);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  border: none;
  cursor: pointer;
  margin-bottom: 28.15%;
}
.brand__text {
  color: var(--White, #FFF);
  font-family: Satoshi;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%;
  width: 85%;
  margin-bottom: 8.7%;
}

.policy {
  margin: 6% 0 6% 6%;
  width: 95%;
}
.policy__title {
  color: var(--Dark-Primary, #2A254B);
  font-family: Clash Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%;
  padding-bottom: 5%;
  width: 30%;
  margin: auto;
}
.policy__wrapper {
  display: flex;
}
.policy__name {
  color: var(--Dark-Primary, #2A254B);
  font-family: Clash Display;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  margin: 5% 0 3% 0;
}
.policy__text {
  color: var(--Dark-Primary, #2A254B);
  font-family: Satoshi;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  width: 75.5%;
}

@media (max-width: 1280px) {
  .brand__title {
    width: 70%;
  }
  .brand__text {
    width: 95%;
  }
  .policy__title {
    width: 40%;
  }
}
@media (max-width: 1040px) {
  .nav {
    width: 70%;
  }
  .policy__title {
    width: 50%;
  }
  .policy__name {
    font-size: 18px;
  }
  .policy__text {
    font-size: 14px;
  }
}
@media (max-width: 769px) {
  .nav {
    display: none;
  }
  .brand {
    margin: 0;
    width: 100%;
  }
  .brand__icon {
    display: none;
  }
  .brand__desc {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .brand__title {
    width: 80%;
    margin-bottom: 22.5%;
    font-size: 34px;
  }
  .brand__text {
    width: 85%;
    margin-bottom: 8.95%;
    font-size: 20px;
  }
  .brand__button {
    order: 1;
    margin-bottom: 6.74%;
    width: 95.7%;
    font-size: 20px;
  }
  .policy__title {
    width: 70%;
    margin: 0;
    padding-bottom: 10.2%;
    font-size: 28px;
  }
  .policy__wrapper {
    flex-direction: column;
    gap: 36px;
  }
  .policy__name {
    margin: 4.5% 0 3.4% 0;
    font-size: 22px;
  }
  .policy__text {
    font-size: 20px;
    width: 84%;
  }
}
@media (max-width: 481px) {
  .header {
    width: 85%;
  }
  .header__icons1 {
    display: flex;
    order: 1;
    align-self: flex-end;
  }
  .header__mobile {
    display: block;
    margin-left: 50%;
  }
  .header__search {
    margin-left: -50%;
  }
  .header__icons2 {
    display: none;
  }
  .nav {
    display: none;
  }
  .brand__title {
    font-size: 32px;
  }
  .brand__text {
    font-size: 18px;
  }
  .brand__button {
    font-size: 18px;
  }
  .policy__title {
    width: 52%;
    font-size: 20px;
  }
  .policy__name {
    font-size: 16px;
  }
  .policy__text {
    font-size: 14px;
  }
}/*# sourceMappingURL=index.css.map */