@font-face {
    font-family: Clash Display;
    src: url(Fonts/FontsFree-Net-ClashDisplay-Variable.ttf);
}

@font-face {
    font-family: Satoshi;
    src: url(Fonts/Satoshi-Regular.otf);
}

@mixin font-header {
    color: #2A254B;
    font-family: Clash Display;
    font-size: 32px;
    font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    width: 95%;
    border-bottom: rgba(0, 0, 0, 0.10) 1px solid;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    &__search {
        vertical-align: -30%;
    }

    &__logo {
        color: #22202E;
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
    }

    &__cart {
        margin-left: -40%;
        text-decoration: none;
        vertical-align: -30%;
    }

    &__user {
        margin-left: 40%;
        vertical-align: -30%;
    }

    &__mobile {
        display: none;
    }
}

.nav {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;

    &__link {
        text-decoration: none;
        border: none;
        color: #726E8D;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
    }
}

.brand {
    display: flex;
    width: 88.9%;
    margin: auto;
    margin-top: 5%;

    &__desc {
        width: 54.4%;
        background: var(--Dark-Primary, #2A254B);
        padding: 4.7% 0 0 4.7%;

    }

    &__icon {
        width: 40.65%;
    }

    &__title {
        color: var(--White, #FFF);
        font-family: Clash Display;
        font-size: 32px;
        font-weight: 400;
        line-height: 140%;
        width: 60%;
        margin-bottom: 5.9%;
    }

    &__button {
        width: 170px;
        height: 56px;
        background: rgba(249, 249, 249, 0.15);
        color: var(--White, #FFF);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        border: none;
        cursor: pointer;
        margin-bottom: 28.15%;
    }

    &__text {
        color: var(--White, #FFF);
        font-family: Satoshi;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        width: 85%;
        margin-bottom: 8.7%;
    }
}

.policy {
    margin: 6% 0 6% 6%;
    width: 94%;

    &__title {
        color: var(--Dark-Primary, #2A254B);
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        padding-bottom: 5%;
        width: 30%;
        margin: auto;
    }

    &__wrapper {
        display: flex;
    }

    &__name {
        color: var(--Dark-Primary, #2A254B);
        font-family: Clash Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        margin: 5% 0 3% 0;
    }

    &__text {
        color: var(--Dark-Primary, #2A254B);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 75.5%;
    }
}

.ceramics {
    width: 88.9%;
    margin: auto;

    &__title {
        @include font-header;
        margin: 13% 0 2.6% 0;
    }

    &__wrapper {
        display: flex;
        gap: 1.7%;
        @include font-header;
    }

    &__block {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__icon {
        width: 100%;
    }

    &__text {
        @include font-header;
        font-size: 20px;
        line-height: 140%;
    }

    &__price {
        color: var(--Dark-Primary, #2A254B);
        font-family: Satoshi;
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        margin-top: -15px;
    }

    &__button {
        color: #2A254B;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        border: none;
        background: var(--Light-Grey, #F9F9F9);
        cursor: pointer;
        width: 170px;
        height: 56px;
        margin: 2.8% 0 3.75% 43.5%;
    }

}

.club {
    background: var(--Light-Grey, #F9F9F9);
    padding: 4% 0 5% 0;

    &__wrapper {
        background: var(--White, #FFF);
        display: flex;
        flex-direction: column;
        width: 88.45%;
        padding: 5% 0 4% 0;
        margin: auto;
        gap: 16px;
    }

    &__title {
        @include font-header;
        font-size: 36px;
        font-weight: 400;
        line-height: 140%;
        text-align: center;
    }

    &__text {
        color: var(--Dark-Primary, #2A254B);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 445px;
        margin: auto;
        text-align: center;
        margin-top: 1.1%;
        margin-bottom: 9.8%;
    }

    &__block {
        width: 484px;
        margin: auto;
    }

    &__input {
        background: var(--Light-Grey, #F9F9F9);
        border: none;
        outline: none;
        width: 322px;
        height: 56px;
        padding-left: 32px;


        &::placeholder {
            color: var(--Dark-Primary, #2A254B);
            font-family: Satoshi;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.2;
            text-align: match-parent;
        }
    }

    &__button {
        color: var(--White, #FFF);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        background: var(--Dark-Primary, #2A254B);
        border: none;
        width: 118px;
        height: 56px;
        margin-left: -0.5%;
        cursor: pointer;
    }
}

.studio {
    display: flex;

    &__wrapper {
        margin: 5% 0 0 5.84%;
    }

    &__title {
        color: #2A254B;
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        width: 75%;
    }

    &__text {
        color: #505977;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        width: 75%;
        margin-top: 5%;
    }

    &__icon {
        width: 50%;
    }

    &__icon-mobile {
        display: none;
    }

    &__button {
        background: var(--Light-Grey, #F9F9F9);
        border: none;
        cursor: pointer;
        color: #2A254B;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        width: 150px;
        height: 56px;
        margin-top: 30.8%;
    }
}

.footer {
    background: var(--Dark-Primary, #2A254B);

    &__text {
        color: var(--White, #FFF);
        text-decoration: none;
    }

    &__wrapper {
        display: flex;
    }

    &__block {
        display: flex;
        flex-direction: column;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 88.6%;
        margin: auto;
        padding: 24px 0 25px 0;
        border-top: #4E4D93 1px solid;
    }

    &__icons {
        display: flex;
        gap: 24px;
    }
}

@media (max-width:1280px) {
    .brand {
        &__title {
            width: 70%;
        }

        &__text {
            width: 95%;
        }
    }

    .policy {
        &__title {
            width: 40%;
        }
    }
}

@media (max-width:1040px) {
    .nav {
        width: 70%;
    }

    .policy {
        &__title {
            width: 50%;
        }

        &__name {
            font-size: 18px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .ceramics {
        &__button {
            width: 140px;
            height: 45px;
        }
    }
}

@media (max-width:769px) {
    .nav {
        display: none;
    }

    .brand {
        margin: 0;
        width: 100%;

        &__icon {
            display: none;
        }

        &__desc {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        &__title {
            width: 80%;
            margin-bottom: 22.5%;
            font-size: 34px;
        }

        &__text {
            width: 85%;
            margin-bottom: 8.95%;
            font-size: 20px;
        }

        &__button {
            order: 1;
            margin-bottom: 6.74%;
            width: 95.7%;
            font-size: 20px;
        }
    }

    .policy {

        &__title {
            width: 70%;
            margin: 0;
            padding-bottom: 10.2%;
            font-size: 28px;
        }

        &__wrapper {
            flex-direction: column;
            gap: 36px;
        }

        &__name {
            margin: 4.5% 0 3.4% 0;
            font-size: 22px;
        }

        &__text {
            font-size: 20px;
            width: 84%;
        }
    }

    .ceramics {

        &__title {
            margin: 26.8% 0 5.5% 0;
        }

        &__wrapper {
            flex-wrap: wrap;
            gap: 4%;
        }

        &__block {
            width: 48%;
            padding-bottom: 5.77%;

            &_1 {
                order: 3;
            }

            &_2 {
                order: 0;
            }

            &_3 {
                order: 2;
            }

            &_4 {
                order: 1;
            }
        }

        &__icon {
            width: 98%;
        }

        &__button {
            width: 98.7%;
            margin: 0;
            margin: auto;
        }
    }

    .club {
        margin-top: 15%;
        background: none;

        &__wrapper {
            width: 93%;
            margin: 0;
            margin-left: 6.2%;
        }

        &__title {
            text-align: left;
            width: 95%;
            font-size: 28px;
        }

        &__text {
            width: 86%;
            margin: 0;
            text-align: left;
            margin-bottom: 13.3%;
        }

        &__block {
            width: 100%;
            margin: 0;
        }

        &__input {
            width: 53%;
        }

        &__button {
            width: 118px;
        }
    }

    .studio {
        display: flex;
        flex-direction: column;

        &__wrapper {
            margin: 5% 0 0 5.84%;
        }

        &__title {
            width: 85%;
        }

        &__text {
            width: 86%;
            margin-top: 5%;
        }

        &__button {
            width: 93%;
            margin: 17.4% 0 10.35% 0;
        }

        &__icon-mobile {
            display: block;
            width: 100%;
        }

        &__icon {
           display: none; 
        }
    }
}


@media (max-width:481px) {
    .header {
        width: 85%;

        &__icons1 {
            display: flex;
            order: 1;
            align-self: flex-end;
        }

        &__mobile {
            display: block;
            margin-left: 50%;
        }

        &__search {
            margin-left: -50%;
        }

        &__icons2 {
            display: none;
        }
    }

    .nav {
        display: none;
    }

    .brand {
        &__title {
            font-size: 32px;
        }

        &__text {
            font-size: 18px;
        }

        &__button {
            font-size: 18px;
        }
    }

    .policy {

        &__title {
            width: 52%;
            font-size: 20px;
        }

        &__name {
            font-size: 16px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .ceramics {

        &__title {
            font-size: 20px;
        }
    }

    .club {

        &__title {
            font-size: 20px;
        }

        &__text {
            font-size: 14px;
        }
    }

    .studio {
        &__title {
            width: 70%;
            font-size: 20px;
        }

        &__text {
            font-size: 14px;
        }
    }
}