@font-face {
    font-family: Clash Display;
    src: url(Fonts/ClashDisplay-Regular.otf);
}

@font-face {
    font-family: Satoshi;
    src: url(Fonts/Satoshi-Regular.otf);
}

@mixin font-title {
    color: #2A254B;
    font-family: Clash Display;
    font-weight: 400;
}

@mixin font-text {
    color: #726E8D;
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    width: 92%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;

    &__icons {
        width: 7%;
        display: flex;
        gap: 17%;
        align-items: center;
    }

    &__logo {
        color: #22202E;
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
    }

    &__burger {
        display: none;
    }
}

.nav {
    display: flex;
    justify-content: center;
    gap: 4%;
    width: 75%;


    &__link {
        text-decoration: none;
        border: none;
        @include font-text; 
    }
}

.chair {
    background: var(--Light-Grey, #F9F9F9);
    width: 100%;
    
    &__wrapper {
        width: 92%;
        margin: auto;
        display: flex;
        padding: 3.47% 0 3.27% 0;
    }

    &__icon {
        width: 50% ;
    }
    
    &__desc {
        margin-left: 5.17%;
    }
}



@media (max-width: 1040px) {
    .header {
    
        &__icons {
            width: 40%;
            gap: 14%;
            justify-content: flex-end;
        }

        &__burger {
            display: block;
        }
    }
    
    .nav {
        display: none;
    }

}